
/*about modals*/


	/*https://www.w3schools.com/howto/howto_css_modals.asp*/

  
   /*my edit: change font size*/
  input[type="text"]  /*what is this?*/
  {
	  font-size:28px;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  

